# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="mysql://root@localhost:3306/movie_database"
DATABASE_URL="mysql://movie_database:movie_database@184.168.114.42:3306/movie_database"
# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

IMAGE_UPLOAD_URL="https://www.scenicitsolutions.com/movie-app/file-upload.php"
NEXT_PUBLIC_IMAGE_UPLOADED_URL="https://www.scenicitsolutions.com/movie-app/images/"

NEXT_JS_APPWRITE_PROJECT_ID="664cab5b0038f0b01ad4"

# 76.76.21.21